name: Surveys

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Eslint check
        run: npx eslint 'src/**'

      - name: Run tests
        run: npm run test:coveralls

      - name: Coveralls
        uses: coverallsapp/github-action@v2